.camera-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.camera-screen {
  width: 100%;        /* chiếm toàn bộ chiều ngang */
  max-width: 1280px;  /* giới hạn tối đa */
  height: auto;       /* tự co theo tỷ lệ */
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.camera {
  width: 100%;
  height: auto;
  border-radius: 10px;
}.camera-btn-placement {
  margin-top: -7%;
}

.countdown-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: kamikaze;
  font-size: 100px;
  color: #df3a40;
  z-Index: 1;
}